@import 'variables';

.landing-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('/images/landing-page-image-gradient.png');
  background-size: cover;
  background-position: center right;
}
#white-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 7.3rem 0 0 4.1rem;
  min-width: 42%;
  min-height: 77vh;
  border-radius: 1%;
  // background: #ffffff75;
  background: rgba(255, 255, 255, 0.71);
  position: absolute;
  z-index: 0;

  h1 {
    font-size: 48px;
    color: $blue;
    font-weight: 800;
    letter-spacing: 0.5px;
  }

  p {
    color: #1c1c1c80;
    line-height: 30px;
    margin: 2rem 0;
  }

  h1,
  p {
    // margin: 0 10% 0 10%;
    // margin: 10px;
    text-align: left;
  }

  .get-paid {
    margin: 0;
  }

  .search {
    display: flex;
    justify-content: center;
    margin: 2rem 10% 15% 10%;

    #search-bar {
      max-width: 35ch;
    }
  }

  img {
    opacity: 70%;
    align-self: center;
    max-width: 25rem;
    margin-top: 3.3rem;
  }

  .build {
    margin: 0;
  }
}

@media only screen and (min-width: 1900px) {
  #white-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15rem 0 0 8rem;
    min-width: 35%;
    min-height: 60vh;
    border-radius: 1%;
    background: #ffffff75;
    position: absolute;
    z-index: 0;

    h1,
    p {
      margin: 0 10% 0 10%;
      text-align: center;
    }
  }
}

#white-box-content > form > div.MuiBox-root.css-ece9u5 > div > div > fieldset,
#white-box-content
  > form
  > div.MuiFormControl-root.MuiTextField-root.makeStyles-textfield-3.css-1u3bzj6-MuiFormControl-root-MuiTextField-root
  > div
  > fieldset {
  border: none;
}

#white-box-content > form > div.MuiBox-root.css-ece9u5 > div > div > svg {
  color: white;
}

#white-box-content > form > div.MuiBox-root.css-ece9u5 > div {
  margin: 7px;
  height: 48px;
  border: none;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
  padding: 14px 15px;
}

#white-box-content
  > form
  > div.MuiFormControl-root.MuiTextField-root.makeStyles-textfield-3.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  margin-left: 15px;
}

#white-box-content {
  margin: 0rem 4.4rem;
  display: flex;
  flex-direction: column;
}
